<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>CUS</title>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
  		crossorigin="anonymous" />
  	<script src="http://code.jquery.com/jquery-3.3.1.min.js"
 		 integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
		crossorigin="anonymous"></script>

	<style>
		body {
			background: url("http://<%= dir %>/img/sources/cus-background.jpg") no-repeat center center fixed; 
		  	-webkit-background-size: cover;
		  	-moz-background-size: cover;
		  	-o-background-size: cover;
		  	background-size: cover;
		}

		.menu-active {
			border-bottom: 3px solid #eedd00;
		}

		.menu-inactive:hover {
			border-bottom: 3px solid #eedd00;
			cursor: pointer;
		}

		#search {
			position: absolute;
			z-index: 10;
		}

		#search-option {
			position: absolute;
			right: 0px;
			z-index: 0;
		}

		.search-toko {
			width: 100%;
		}

		.search-pembayaran {
			width: 70%;
		}

		.input-transition {
            -webkit-transition: width 0.2s ease-out;
            -moz-transition: width 0.2s ease-out;
            transition: width 0.2s ease-out;
		}

		.option-toko {
			width: 0%;
		}

		.option-pembayaran {
			width: 30%;;
		}

		.gone {
			display: none;
		}

		.waiting {
			color: #ff5555;
		}

		.completed {
			color: #5555ff;
		}
	</style>
</head>
<body>
	<div class="fixed-top">
		<nav id="breadcrumb" aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item active" aria-current="page"><a href="http://<%= domain %>">Home</a></li>
		  </ol>
		</nav>
	</div>
	<div style="position: absolute; height: 100%; width: 100%;">
		<div style="width: 60%; position: absolute; top: 50px; left: 50%; transform: translateX(-50%);">
			<div style="width: 100%; text-align: center;">
				<h1>CUS</h1>
			</div>
			<div style="position: relative; width: 100%; height: 50px;">
				<div class="card text-center">
				  <div class="card-header">
				  	<%= id %>
				  </div>
				  <div id="result" class="card-body">
				    
				  </div>
				  <div class="card-footer text-muted">
				  	<button id="button-delete" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-delete">Hapus</button>
		    		<button id="submit" onclick="submit()" class="btn btn-primary">Konfirmasi</button>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Delete -->
	<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="modal-delete-label" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="modal-delete-label">Confirmation</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div id="delete-warning" class="modal-body">
	 		
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
	        <form id="delete-form" method="POST" action="http://<%= domain %>/payment/<%= id %>/delete">
	        	<button id="delete-button-confirmed" type="submit" class="btn btn-danger">Hapus</button>
	        </form>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- End of Modal Delete -->

	<script type="text/javascript">
		var ids = [];

		$(document).ready(function() {
			load_order();
		});

		$("#button-delete").on("click", function() {
			$("#delete-warning").html("Anda akan menghapus data transaksi <b><%= id %></b>. Apakah anda yakin ingin melanjutkan?");
		});

		function submit() {
			if(ids.length == 0) {
				$("#submit").prop("disabled", true);
				return;
			}
			$.post("<%= id %>/confirm",
				{
					payment_id: ids.pop()
				},
				function(result) {
					if(result.error == null) {
						submit();
					} else {
						console.log(result.error);
					}
				}
			);
		}

		function load_order() {
			$.post("../getHistory", 
				{
					user_id: 0,
					transaction_id: <%= id %>,
					payment: true
				}, 
				function(result) {
					result.result.forEach(function(item, index) {
						ids.push(item.id);
						$("#result").append(createFrameOrder(item.name, item.item_quantity, (item.total_price/item.item_quantity), item.total_price));
						if((index + 1) == result.result.length) {
							if(item.status == 1 || item.status == 2) {
								$("#submit").prop("disabled", true);
								$("#button-delete").prop("disabled", true);
							} else if (item.status == 3) {
								$("#submit").prop("disabled", true);
								$("$submit").html("Expired");
							}
						}
					});
			    }
			);
		}

		function createFrameOrder(name, quantity, price, total) {
			return  '<div class="card">'+
					'  <div style="padding: 10px;" class="card-body">'+
					'    <h5 class="card-title">'+name+'</h5>'+
					'    <p style="font-size: 0.8em" class="card-subtitle mb-2 text-muted">'+
							quantity + ' x ' + price + ' = ' + total +
					'	 </p>'+
					'  </div>'+
					'</div>';
		}
	</script>
</body>
</html>